<html>
  <head>
    <title>Domain</title>
  </head>
  <body>
    <h1>Submit the Domain Name</h1>
    <form action="/display" method="POST">
      <p><input type="text" name="domain"></p>
      <p><input type="submit" value="OK" /></p>
    </form>
  </body>
</html>
