<html>
  <HEAD>
    <TITLE>
    Domain Name 
    </TITLE>
  </HEAD>
  <BODY>
    <FORM name = "index" method = "POST" action="/result">
      <input type="text" name = "domain_name" >
      <input type="submit" value = "Submit" >
    </FORM>
  </BODY>
</html>